@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --font-family: 'Roboto Condensed', sans-serif;
    --bg-color: #8B7E74;
    --primary-color: #C7BCA1;
    
}